<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Casts</title>
  </head>
  <body>
    <form method="post">
      <p>First name: <input type="text" name="firstname" required></p>
      <p>Last name: <input type="text" name="lastname" required></p>
      <p>Birth year: <input type="number" name="birthyear" required></p>
      <select name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <button>ADD CASTS</button>
    </form>
  </body>
</html>