<!DOCTYPE html>
<html>
<style>
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
</style>
<body>

<h3>Using CSS to style an HTML Form</h3>

<div>
  <form action="/casts/edit/<%=dataCasts.id%>" method="post">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="first_nama" value="<%= dataCasts.first_nama%>" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="last_name" value="<%= dataCasts.last_name%>" placeholder="Your last name..">

    <label for="lname">Birth Year</label>
    <input type="text" id="lname" name="birth_year" value="<%= dataCasts.birth_year%>" placeholder="Your Birth..">
    <%if(dataCasts.gender == 'male'){%>
    <label for="country">Gender</label>
    <select id="country" name="gender">

        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>
      <%}


      else{%>
    <label for="country">Gender</label>
        <select id="country" name="gender">
        <option value="female">Female</option>
        <option value="male">male</option>
        </select>
      <%}%>


    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
