<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ADD CASTS</title>
  </head>
  <body>
    <h2>ADD CAST</h2>
    <form method="post">
      <input type="text" name="first_name" placeholder="First Name">
      <input type="text" name="last_name" placeholder="LAst Name">
      <input type="text" name="birth_year" placeholder="Birth Year">
      <select class="" name="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      <input type="submit"  value="Submit">
    </form>
  </body>
</html>
