<!DOCTYPE html>
<html>
<body>

<form action="/casts">
  First name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="Mouse">
  <br>
  Full Name:<br>
  <input type="text" name="lastname">
  <br>
  Birth Year:<br>
  <input type="text" name="birth_year">
  <br>
  Gender:<br>
  <input type="text" name="gender">
  <br>
  <br>
  <input type="submit" value="Submit">
</form> 



</body>
</html>
