<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>add cast</title>
    <a href="/movies">MOVIES</a>
    <a href="/cast">CAST</a>
  </head>
  <body>
    <form action="/cast/add" method="post">
  First name:<br>
  <input type="text" name="first_name" value="input first name">
  <br>
  Last name:<br>
  <input type="text" name="last_name" value="input last name">
  <br>
  Birth Year:<br>
  <input type="integer" name="birth_year" value="1972">
  <br>
  <select name = "gender">
  <option value="male">male</option>
  <option value="female">female</option>
</select>
  <br>
  <input type="submit" value="Submit">
</form>
  </body>
</html>
