<form action="/casts/add" method="post">
  <table>
    <tr>
      <td>First Name</td>
      <td>:</td>
      <td><input type="text" name="first_name"></td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>:</td>
      <td><input type="text" name="last_name"></td>
    </tr>
    <tr>
      <td>Birth Year</td>
      <td>:</td>
      <td><input type="text" name="birth_year"></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>:</td>
      <td>
        <select name="gender">
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><input type="submit" value="add"></td>
    </tr>
  </table>
</form>