<!DOCTYPE html>
<html>
<head>
	<title>All Movie</title>
</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<th>name</th>
				<th>role</th>
			</tr>
		</thead>
		<tbody>
			<form>
			<tr>
						<% modelwithcast.forEach(movie => {%>
						<% movie.Casts.forEach(cast =>{%>
								<td>
								<select name="UserId" >
									 <option value="cast.id"><%= cast.getFullName() %></option> 
								</select>
								</td>
							
						<%})%>
						<%})%>
							<td><input type="text" name="role"></td>
							<td><input type="submit" value="submit"></td>
			</tr>
			</form>	
		</tbody>
	</table>
</body>
</html>