<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/casts/add" method="post">
      First name:<br>
      <input type="text" name="firstname">
      <br>
      Last name:<br>
      <input type="text" name="lastname">
      <br>
      Birth:<br>
      <input type="text" name="birth">
      <br>
      Gender:<br>
      <select name ="gender">
        <option value="male">male</option>
        <option value="female">female</option>
    </select><br>
      <input type="submit" value="Submit">
      </form>

  </body>
</html>
