<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Cast</title>
  </head>
  <h2>Add Cast</h2>
  <body>
    <form class="" action="/casts/add" method="post">
      First Name <br>
      <input type="text" name="first_name" value=""><br>
      Last Name <br>
      <input type="text" name="last_name" value=""><br>
      Birth Year <br>
      <input type="text" name="birth_year" value=""><br>
      Gender <br>
      <select class="" name="gender">
        <option value="female">Female</option>
        <option value="male">Male</option>
      </select><br>
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>