<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cast</title>
  </head>
  <body>
    <table>
      <tr>
        <td>id</td>
        <td>first_name</td>
        <td>last_name</td>
        <td>birth_year</td>
        <td>gender</td>
      </tr>
      <tr>
        <td><%= rows[0].id %> </td>
        <td><%= rows[0].first_name %></td>
      </tr>
    </table>
  </body>
</html>
