<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Cast</title>
  </head>
  <body>
    <form action="/casts/edit/<%=dataCast.id%>" method="post">
      First name:<br>
      <input type="text" name="first_name" value="<%=dataCast.first_name%>"><br>
      Last name:<br>
      <input type="text" name="last_name" value="<%=dataCast.last_name%>"><br>
      Birth Year
      <input type="text" name="birth_year"value="<%=dataCast.birth_year%>" ><br>
      <select name="gender">
        <option value="male"
        <%if(dataCast.gender == "male"){%>
          selected
        <%}%> 
        >Male</option>
        <option value="female"
        <%if(dataCast.gender == "female"){%>
          selected
        <%}%>
        >Female</option>
      </select>
      <br>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
