<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EDIT/title>
  </head>
  <body>
    <h2>Edit</h2>
    <form method="post">
      <input type="text" name="first_name" value="<%=data.first_name%>" >
      <input type="text" name="last_name" value="<%=data.last_name%>" >
      <input type="text" name="birth_year" value="<%=data.birth_year%>" >
      <select class="" name="gender" >
        <%if (data.gender == 'Male'){%>
          <option value="Male" selected>Male</option>
        <%} else {%>
        <option value="Female"selected>Female</option>
        <%}%>
      </select>
      <input type="submit"  value="Submit">
    </form>
  </body>
</html>
