<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Movie Cast Give</title>
</head>
<body>

	<h1><%= movieCast.name %></h1>

	<h2>Add Cast</h2>
	<form action="/movies/<%= movieCast.id %>/addCast" method="POST">
		<input type="hidden" name="MovieId" />
		<select name="CastId" id="CastId">
			<% casts.forEach( function(cast, index) { %>
				<option value="<%= cast.id %>"><%= cast.first_name + ' ' +cast.last_name %></option>
			<%  }); %>

		</select>

		<input type="text" name="role" placeholder="role" />

		<input type="Submit" value="Add" />
	</form>
</body>
</html>