<html>

<head>
    <title>
        Welcome
    </title>
</head>

<body>
    <header>
        <a href="/">Home</a>
        <a href="/casts">Cast</a>
        <a href="/movies">Movie</a>
    </header>
</body>

</html>