<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/movies">Movie</a></li>
      <li><a href="/casts">Cast</a></li>
    </ul>
  </body>
</html>
