<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h5>movie</h5>
    <table>
      <% for(var i=0; i< data.length; i++) <%{%>

      <%}%>

    </table>

  </body>
</html>
