<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movies</title>
</head>
<body>
    <%- include ./partials/menu.ejs %>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Release Year</td>
            <td>Role</td>
        </tr>
        <% dataCast.forEach((row) => { %>
        <tr>
            <td><%= row.Movie.name %></td>
            <td><%= row.Movie.umur %></td>
            <td><%= row.role %></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>