<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <table>
    <tr>
      <th>Movie</th>
      <th>Released Year</th>
      <th>Age When Movie Released</th>
      <th>Role</th>
    </tr>
    <% for(let i = 0; i < dataJsonMovieCasts.length; i++){ %>
      <tr>
        <td><%= dataJsonMovieCasts[i].Movie.name %></td>
        <td><%= dataJsonMovieCasts[i].Movie.released_year %></td>
        <td><%= dataJsonAge[i] %></td>
        <td><%= dataJsonMovieCasts[i].role %></td>
      </tr>
    <% } %>
  </table>
</body>
</html>
