<%- include ../partials/head%>

<h3>ADD Cast</h3>
<form style="width: 300px" action="/cast/add" method="POST">
	<div class="form-group" >
	    <label >Firstname:</label>
	    <input type="text" class="form-control" name="first_name">
	</div>
	<div class="form-group" >
	    <label >Lastname:</label>
	    <input type="text" class="form-control" name="last_name" >
	</div>
	<div class="form-group" >
	    <label >BirthYear:</label>
	    <input type="text" class="form-control" name="birth_year">
	</div>
	<div class="form-group">
	  <label for="sel1">Select gender:</label>
	  <select class="form-control" id="sel1" name="gender" >
	    <option>male</option>
	    <option>female</option>
	  </select>
	</div>
	
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<%- include ../partials/footer%>
