<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h3>Add Casts</h3>
  <form method="post">
    <select name="cast">
      <% casts.forEach((cast, index) => { %>
        <option value="<%= cast.id %>"><%= casts[index].fullname() %></option>
      <% }) %>
    </select>
    <button>ADD CASTER</button>
  </form>
</body>
</html>